body {
	background: #5D5858;
	color: #E6F195;
}
.form-control {
	background: #366154;
	border-color: #E6F195;
	color: #E6F195;
}
.btn:hover {
	color: #E6F195;
}
.well {
	width: 50%;
	margin: 25%;
	background: none;
	border: #E6F195;
}
h1 {
	margin-top: -50px; 
}
form {
	margin-top: 50px;
}
